.jumbotron {
    padding:20px 30px 40px 30px;
    margin:0px auto;
    color:black;
    border-radius: 40px 40px;
    background-color: #f0ececd7;
}

.j2 {
    padding:10px 20px 30px 20px;
    margin:0px auto;
    color:black;
    margin-right: 13%;
    border-radius: 40px 40px;
    width: 90%;
    background-color: #f0ececd7;
}

.j3 {
  padding:10px 20px 30px 20px;
  margin:0px auto;
  color:black;
  margin-left: 5%;
  border-radius: 40px 40px;
  width: 90%;
  background-color: #f0ececd7;
}

/*.apexcharts-canvas{
    background: #fff
}*/

.tab {
    line-height: 25px;
    min-height: 25px;
    height: 77px;
 }

 .jsonOdd {
    background: #eee;
    border: 1px solid black;
    column-width: 100px;
    text-align: center;
    
    border-collapse: collapse;
  }

 .jsonOdd tr:nth-child(odd) {background: #CCC}
 .jsonOdd tr:nth-child(even) {background: #FFF}

 .ball {
    height: 40px;
    width: 40px; 
    padding-right: 1px;
}

.bar {
    display: flex;
    justify-content: flex-end;
    float: right;
    color:#f8f9fa;
  }

  .per {
    color:#73c9ac;
  }

  .pad {
      margin-left:15px;
      margin-right:10px;
      margin-top:10px;
      border-radius: 8px;
  }

  .centered {
    width:30%;
  margin-left: 1100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rentered {
    width:30%;
  margin-left: 800%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ser {
    font-family: Tahoma, sans-serif;
  }

  .ber {
    font-family: Georgia, sans-serif;
  }

  .leg {
    width:30%;
    display: flex;
    margin-left: 35%;
    justify-content: center;
    align-items: center;
  }

  .let {
    width:50%;
    display: flex;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
  }

  .hed {
    width:90%;
    margin-left: 4%;
    padding-top:10px;
    padding-bottom:10px;
    justify-content: center;
    align-items: center;
    
  }

  .ted {
    background-color: #ffffff;
    border-radius: 10px;
  }

  .led {
    width:90%;
    margin-left: 4%;
    padding-top:10px;
    padding-bottom:10px;
    justify-content: center;
    align-items: center;
    
  }

  .container {
    width:50%;
    margin-left: 4%;
    padding-top:10px;
    padding-bottom:10px;
    justify-content: center;
    align-items: center;
    
  }