.jumbotron {
    padding:30px 30px 70px 30px;
    margin:0px auto;
    color:black;
    border-radius: 40px 40px;
    background-color: #e6e6e6;
}

/*.apexcharts-canvas{
    background: #fff
}*/

.tab {
    line-height: 25px;
    min-height: 25px;
    height: 77px;
 }

 .jsonOdd {
    background: #eee;
    border: 1px solid black;
    column-width: 100px;
    text-align: center;
    
    border-collapse: collapse;
  }

 .jsonOdd tr:nth-child(odd) {background: #CCC}
 .jsonOdd tr:nth-child(even) {background: #FFF}